.container{
    

    position: relative;
    overflow: hidden;
    background-color: #833434;
}
.btnContainer{
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;

}
.btn{
    width: 50%;
    height: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    background-color: #f1f1f1;
}
.slidContainer{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

}
.box1{
    background-color: red;
    position: absolute;   
    transform: translateX(0%); 
   
}
.box3{
    background-color: blue;
    position: absolute;
    transform: translateX(-100%);
}